﻿<header>
    <div class="pikohana-logo">
    </div>
</header>
<div class="container-fluid">
    <section>
        <div class="login-image">
            <span></span>
        </div>
        <div class="login-header">
            <h1>Reset Password</h1>
            <h5 class="text-white">We will help you remember your password</h5>
        </div>
        <form name="resetForm" novalidate>
            <div class="alert alert-danger dismsg mb" ng-if="errorMsg">
                <strong><i class="fa fa-times-circle"></i></strong> {{errorMsg}}
            </div>
            <div class="alert alert-info dismsg mb" ng-if="successMsg">
                <strong><i class="fa fa-thumbs-up"></i></strong> {{successMsg}}
            </div>
            <div class="block">
                <i class="fa fa-envelope"></i>
                <input type="email" class="input-item" name="email" placeholder="Email address" ng-model="forgotCtrl.resetFields.email" required />
                <p ng-if="(!resetForm.email.$pristine || resetForm.$dirty) && (resetForm.email.$error.required || resetForm.email.$error.email)" class="pull-left text-danger">Please provide valid email</p>
            </div>
            <div class="block">
                <div vc-recaptcha key="'6Lcr_yUTAAAAAMe5aKOw5WC6a7ofsz_2cfcp0yt3'" ng-model="forgotCtrl.resetFields.recaptchaResponse" class="captcha-el"></div>
                <p ng-if="(resetForm.$dirty ) && (!forgotCtrl.resetFields.recaptchaResponse)" class="pull-left text-danger">Captcha validation failed</p>
            </div>
            <div class="forget-button">
                <button type="submit" ui-sref="login" class="submit-button" ng-disabled="isLoading">Retrieve Password <i class="fa fa-spin fa-spinner" ng-if="isLoading"></i></button>
                <button type="submit" ui-sref="login" class="submit-button" ng-disabled="isLoading">Back <i class="fa fa-spin fa-spinner" ng-if="isLoading"></i></button>
            </div>
        </form>
    </section>
</div>