<head>
    <title>PIKOHANA | Compliance Report</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/add"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon"> MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon"> Demo user - <span> ABC Pte Ltd</span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales Report</a></li>
            <li><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial Report</a></li>
            <li class="active"><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance Report</a></li>
        </ul>
    </div>
    <div id="compliance-report" class="ng-scope">
        <div class="report-head-section">
            <div class="head-title">
                <h2>Demo user</h2>
                <h4>ABC Pte Ltd</h4>
            </div>
            <div class="head-btn-export">
                <button>Export</button>
            </div>
            <div class="head-btn-reload">
                <button class="report-section-icon"> Reload Data</button>
            </div>
        </div>
        <div class="compliance-Summary">
            <h4>Key Compliance Fillings Status</h4>
        </div>
        <table class="compliance-table">
            <tbody>
                <tr class="bold-text-row-comp">
                    <td style="padding-left: 10px">Company Registry Information</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Company Registry Owner</td>
                    <td class="ng-binding">Demo User</td>
                    <td>Registry ID</td>
                    <td class="ng-binding">103</td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Company Name</td>
                    <td class="ng-binding">ABC Pte Ltd</td>
                    <td>UEN NO</td>
                    <td class="ng-binding"></td>
                </tr>
            </tbody>
        </table>
        <table class="compliance-table">
            <tbody>
                <tr class="bold-text-row-comp">
                    <td style="padding-left: 10px">Registered Address</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Street Address</td>
                    <td class="ng-binding">133 Amoy Street</td>
                    <td>Unit Number</td>
                    <td class="ng-binding"></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">City</td>
                    <td class="ng-binding">Singapore</td>
                    <td>Country</td>
                    <td class="ng-binding">Singapore</td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Postal Code</td>
                    <td class="ng-binding">49962</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="compliance-table">
            <tbody>
                <tr class="bold-text-row-comp">
                    <td style="padding-left: 10px">
                        Key Compliance Fillings Status
                        <br><p><!-- ngIf: kpictrl.kpiData.date --><span ng-if="kpictrl.kpiData.date" class="ng-binding ng-scope" style="">As at 11 Jan 2018</span><!-- end ngIf: kpictrl.kpiData.date --></p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Audit Exempt</td>
                    <td class="ng-binding">Yes</td>
                    <td>Schedule next audit</td>
                    <td class="ng-binding"></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Is the company compliant</td>
                    <td class="ng-binding">Yes</td>
                    <td>Begin audit</td>
                    <td class="ng-binding"></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">If not compliant, Why?</td>
                    <td class="ng-binding"></td>
                    <td>Complete audit</td>
                    <td class="ng-binding"></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Last audited accounts date</td>
                    <td class="ng-binding">2015-06-30</td>
                    <td>File ECI</td>
                    <td class="ng-binding">2018-03-31</td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Last AGM Date</td>
                    <td class="ng-binding">2017-05-15</td>
                    <td>Hold AGM</td>
                    <td class="ng-binding">2018-06-30</td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Date of Accounts Laid at Last AGM</td>
                    <td class="ng-binding">2016-12-31</td>
                    <td>File Annual Return</td>
                    <td class="ng-binding">2018-07-31</td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Last Annual Rerurn(AR) submission date</td>
                    <td class="ng-binding">2017-05-24</td>
                    <td>File Prior Year's Tax Return</td>
                    <td class="ng-binding">2017-11-30</td>
                </tr>
            </tbody>
        </table>
        <table class="compliance-table">
            <tbody>
                <tr class="bold-text-row-comp">
                    <td style="padding-left: 10px">Compliance Check</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Client Compliance Form</td>
                    <td><i class="fa fa-check ng-scope" aria-hidden="true"></i></td>
                    <td>Compliance Check</td>
                    <td class="ng-binding">Completed</td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Formal Business Profile (i.e., BizFile)</td>
                    <td><i class="fa fa-check ng-scope" aria-hidden="true"></i></td>
                    <td>Comments</td>
                    <td class="ng-binding"></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Passport copy of Directors</td>
                    <td><i class="fa fa-check ng-scope" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Proof of address of Directors</td>
                    <td><i class="fa fa-check ng-scope" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">Background Check - Directors</td>
                    <td><i class="fa fa-check ng-scope" aria-hidden="true"></i></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2017</p>
        </div>
    </footer>
</div>