<head>
    <title>PIKOHANA | MY APPS</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="manageusers/add">
                        <img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon"> MANAGE USERS
                    </a>
                </li>
                <li>
                    <a ui-sref="profilesettings">
                        <img src="assets/images/user-login-01.svg" width="25px" class="app-icon"> Demo user - <span> ABC Pte Ltd</span>
                    </a>
                </li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li class=''><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li class=''><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li class=''><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales Report</a></li>
            <li class=''><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial Report</a></li>
            <li class=''><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance Report</a></li>
        </ul>
    </div>
    <div id="my-app">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="app-section-box">
                    <h2 class="ng-binding"></h2>
                    <div>
                        <div class="text-center">
                            <a data-toggle="modal" data-target="#myModal">
                                <div class="app-icon enabled-app">
                                    <!-- <img src="assets/images/xero.png" alt="Xero"> -->
                                    <img src="http://pikohana.com/media/application/Xero.png" alt="Xero">
                                </div>
                            </a>
                            <div class="app-xero-image ng-binding">
                                Xero
                                <a class="clickable ng-scope">
                                    Connect to Xero
                                </a>
                                <!-- <a class="clickable ng-scope">
                                Disconnect Xero
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="app-section-box">
                    <h2 class="ng-binding"></h2>
                    <div>
                        <div class="text-center">
                            <a data-toggle="modal" data-target="#myModal">
                                <div class="app-icon enabled-app">
                                    <!-- <img src="assets/images/zoho-1.png" alt="Xero"> -->
                                    <img src="http://pikohana.com/media/application/ZOHO.png" alt="Xero">
                                </div>
                            </a>
                            <div class="app-xero-image ng-binding">
                                ZOHO
                                <!-- <a class="clickable ng-scope">
                                Connect to Xero
                                </a> -->
                                <!-- <a class="clickable ng-scope">
                                Disconnect Xero
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018</p>
        </div>
    </footer>
</div>

<!-- Start modal popup-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-xs-12 text-center m0 pb15">
                    <h3 class="m0">Application</h3>
                </div>
            </div>
            <div class="modal-body my-apps">
                <div class="popup-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Name:</label>
                        </div>
                        <div class="col-xs-6">
                            <p class="pull-left ng-binding">ZOHO</p>
                            <div class="app-logo">
                                <img ng-src="http://pikohana.com/media/application/ZOHO.png" src="http://pikohana.com/media/application/ZOHO.png">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>API Url:</label>
                        </div>
                        <div class="col-xs-6">
                            <p class="ng-binding">https://crm.zoho.com/crm</p>
                        </div>
                    </div>
                    <div class="row ng-scope">
                        <div class="col-xs-6">
                            <label class="mt5">Auth key</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" value="1e61f879334d2e44c7174ddc1c18ed84">
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-6">
                            <label>Status</label>
                        </div>
                        <div class="col-xs-6">
                            <label>
                                <input type="checkbox" class="mr5">Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-gray-green">Save</button>
                <input type="button" class="btn-gray-red" value="Cancel">
            </div>
        </div>
    </div>
</div>