<head>
    <title>PIKOHANA | PROFILE SETTINGS</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/add"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon"> MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon"> Demo user - <span> ABC Pte Ltd</span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li class=''><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li class=''><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li class=''><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales Report</a></li>
            <li class=''><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial Report</a></li>
            <li class=''><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance Report</a></li>
        </ul>
    </div>
    <div class="profile-info">
        <ul class="nav nav-pills">
            <li>
                <a ui-sref="profilesettings" data-toggle="tab">
                    <img src="assets/images/useradd-01.svg" width="27px" class="app-icon">My Info
                </a>
            </li>
            <li class="active">
                <a ui-sref="passwordsettings" data-toggle="tab">
                    <img src="assets/images/lock-01.svg" width="27px" class="app-icon">Password & Security
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <!-- password -->
        <div id="password-setting-section" class="tab-pane active">
            <div class="pass-section-info">
                <h4>Password</h4>
            </div>
            <div class="row">
                <div class="password-section-page">
                    <div class="col-sm-6">
                        <div class="text-page">
                            <form name="changePwdForm">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="oldPwd" placeholder="Old Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="newPwd" placeholder="New Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="retypePwd" placeholder="Retype New Password">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-security">
                            <p>A Strong Password...</p><br>
                            <p>1.&nbsp; &nbsp;is 14 characters (eight-minimum) in length</p><br>
                            <p>2.&nbsp;&nbsp;is a combination of letters (lower case or upper case) and at least one number or other non-letter character</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <a class="btn-gray-green mr"><button type="submit" class="btn btn-default">Save</button></a>
                        <a type="reset" class="btn-gray-red"><button type="cancel" class="cancel-page">Cancel</button></a>
                    </div>
                </div>
            </div>
            <div class="pass-section-info">
                <h4>Security Question</h4>
            </div>
            <div class="row">
                <div class="password-section-page">
                    <form name="securityQForm" class="form-horizontal">
                        <div class="col-sm-8">
                            <div class="ng-scope">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <p class="ng-binding"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control editField" placeholder="**************" disabled="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-danger contactBtn"><img src="assets/images/edit-01.svg" width="27px" class="app-icon">Edit</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- edit form -->
            <div class="row">
                <div class="password-section-page">
                    <form name="securityQForm" class="form-horizontal">
                        <div class="col-sm-8">
                            <div class="form-group ng-scope" style="">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="text" name="question" class="form-control editField" placeholder="Type security question">
                                        <p class="pull-left text-danger" style="">Security question is required</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="password" name="answer" class="form-control" placeholder="**************">
                                        <p class="pull-left text-danger" style="">Please provide answer to security question</p>
                                        <div class="button-section">
                                            <a class="btn-gray-green mr"><button type="submit" class="btn btn-default">Save</button></a>
                                            <a type="reset" class="btn-gray-red"><button type="cancel" class="cancel-page">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- edit form end -->
        </div>
    </div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018</p>
        </div>
    </footer>
</div>
<!-- Start modal popup-->
<script type="text/ng-template" id="myModalContent.html">
    <!-- Modal content-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <span ng-bind-html="modalContent"></span>
        <!--{{modalContent}}-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Ok, I Understand</button>
    </div>
</script>
<!-- End modal popup-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.editBtn').click(function () {
            if ($('.editField').is('[readonly]')) {
                //checks if it is already on readonly mode
                $('.editField').prop('readonly', false);
                $('.editBtn').html('Edit');
                $('.editBtn').css("background", "");
                $('.editBtn').css("border", "");
            } else {
                $('.editField').prop('readonly', true);
                $('.editBtn').html('Edit');
                $('.editBtn').css("background", "");
            }
        });

    });
</script>