<head>
    <title>PIKOHANA | SALES REPORT</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/add"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon"> MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon"> Demo user - <span> ABC Pte Ltd</span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li class="active"><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales Report</a></li>
            <li><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial Report</a></li>
            <li><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance Report</a></li>
        </ul>
    </div>
    <div id="Sales-report" class="ng-scope">
        <div class="text-center mt5 ng-hide" style="">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <div>
            <div class="report-head-section">
                <div class="head-title">
                    <h2 class="ng-binding">Demo User</h2>
                    <h4 class="ng-binding">ABC Pte Ltd</h4>
                </div>
                <div class="head-btn-refresh">
                    <button class="report-section-icon"> Refresh</button>
                </div>
            </div>
            <div class="sales-dropdown">
                <select id="total-category_select" class="financial-sales-dropdown" style="margin-right: 0px;">
                    <option label="Total Sales Order vs Target" value="#total-sales-order">Total Sales Order vs Target</option>
                    <option label="Weighted Pipeline" value="#weighted-pipeline">Weighted Pipeline</option>
                    <option label="Sales Orders + Weighted Pipeline vs Target" value="#sales-weighted">Sales Orders + Weighted Pipeline vs Target</option>
                </select>
            </div>
            <div id="total-sales-order" class="sales" style="margin-bottom: 20px;">
                <div class="sales-brand-tilte">
                    <h3>Total Sales Order vs Target</h3>
                    <p>
                        <!-- ngIf: salesReportCtrl.salesData.org_name -->
                        <span>ABC Pte Ltd | </span>
                        <span class="ng-binding ng-scope">As at 09 Jan 2018</span><!-- end ngIf: salesReportCtrl.salesData.date -->
                    </p>
                </div>
                <div class="ng-scope">
                    <table class="Financial-report-table ng-scope">
                        <tbody>
                            <tr>
                                <th class="ng-binding">Teritory: Malaysia</th>
                                <th class="ng-binding">Brand: Crown</th>
                                <th>
                                    Actual:
                                    <span>
                                        $323,266
                                    </span>
                                </th>
                                <th>
                                    Target:
                                    <span class="ng-binding ng-scope">
                                        $0
                                    </span>
                                </th>
                                <th>
                                    Variance:
                                    <span>
                                        $323,266
                                    </span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="sales-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Subject</th>
                                <th>SO Issued Date</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group (Malaysia) Sdn Bhd</td>
                                <td class="text-left ng-binding">Breguet DPS Crown MY Jun 2018</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>$2,134</span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group (Malaysia) Sdn Bhd</td>
                                <td class="text-left ng-binding">Breguet DPS Crown MY Mar 2018</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>$2,134</span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group (Malaysia) Sdn Bhd</td>
                                <td class="text-left ng-binding">Breguet Production Coverage Cost Crown MY Jun 2018</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>$1,077</span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Central Paper Penang</td>
                                <td class="text-left ng-binding">Central Paper Crown MY Jun 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>$703</span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Central Paper Penang</td>
                                <td class="text-left ng-binding">Central Paper Crown MY Mar 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>$622</span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">LVMH Watch &amp; Jewellery Malaysia Sdn Bhd</td>
                                <td class="text-left ng-binding">Zenith FPFC Cover Crown MY Dec 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>$17,785</span>
                                </td>
                            </tr>
                            <tr>
                                <td>The Swatch Group (Malaysia) Sdn Bhd</td>
                                <td>Blancpain FPFC Crown MY Dec 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    <span>$8,537</span>
                                </td>
                            </tr>
                            <tr>
                                <td>The Swatch Group (Malaysia) Sdn Bhd</td>
                                <td>Digital Campaign Breguet Crown MY Nov 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    <span>
                                        $21,342
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Vivaki (M) Sdn Bhd</td>
                                <td>Cartier RGF Crown MY Sep 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $3,557
                                </td>
                            </tr>
                            <tr>
                                <td>Bell & Ross (Malaysia) Sdn Bhd</td>
                                <td>Bell & Ross FPFC Crown MY Dec 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $3,557
                                </td>
                            </tr>
                            <tr>
                                <td>Red Army Watches Snd Bhd</td>
                                <td>Red Army FPFC Crown MY Sept & Dec 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $3,557
                                </td>
                            </tr>
                            <tr>
                                <td>Bell & Ross (Malaysia) Sdn Bhd</td>
                                <td>Bell&Ross FPFC Crown MY Sep 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $3,557
                                </td>
                            </tr>
                            <tr>
                                <td>Subscriber MY</td>
                                <td>SUBS CROWN MY SEP 17 - JUN 18</td>
                                <td>2017-10-06</td>
                                <td>
                                    $60
                                </td>
                            </tr>
                            <tr>
                                <td>Sincere Watch Sdn Bhd</td>
                                <td>Sincere(AP) FPFC Crown MY Sep & Dec 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $5,691
                                </td>
                            </tr>
                            <tr>
                                <td>IPG Mediabrands (Singapore) Pte Ltd</td>
                                <td>Patek Philippe FC Crown MY Jun 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $108,120
                                </td>
                            </tr>
                            <tr>
                                <td>IPG Mediabrands (Singapore) Pte Ltd</td>
                                <td>Patek Philippe Advertorial Crown MY May 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $7,208
                                </td>
                            </tr>
                            <tr>
                                <td>Vivaki (M) Sdn Bhd</td>
                                <td>Cartier RGF Crown MY Mar 2017</td>
                                <td>2017-10-06</td>
                                <td>
                                    $3,557
                                </td>
                            </tr>
                            <tr>
                                <td>Mindshare Singapore (A Division of GroupM Singapore Pte Ltd)</td>
                                <td>Tudor FPFC Crown MY Mar Jun Sep Dec 2017</td>
                                <td>2016-10-01</td>
                                <td>
                                    $17,424
                                </td>
                            </tr>
                            <tr>
                                <td>Mindshare Singapore (A Division of GroupM Singapore Pte Ltd)</td>
                                <td>Rolex OBC Crown MY Mar Jun Sep Dec 2017</td>
                                <td>2016-10-01</td>
                                <td>
                                    $49,343
                                </td>
                            </tr>
                            <tr>
                                <td>Sincere Watch Sdn Bhd</td>
                                <td>Sincere(Breguet) DPS Crown MY Mar 2017</td>
                                <td>2017-02-28</td>
                                <td>
                                    $2,134
                                </td>
                            </tr>
                            <tr>
                                <td>DKSH Luxury & Lifestyle (M) Sdn Bhd</td>
                                <td>Maurice Lacroix FPFC Crown MY Mar Jun 17</td>
                                <td>2017-02-28</td>
                                <td>
                                    $4,624
                                </td>
                            </tr>
                            <tr>
                                <td>The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td>Breguet 4DPS Crown MY Mar Jun Sep Dec 2017</td>
                                <td>2017-02-28</td>
                                <td>
                                    $8,537
                                </td>
                            </tr>
                            <tr>
                                <td>Corum Watches (M) Sdn Bhd</td>
                                <td>Corum 6pp Cover Editorial Crown MY Sep 2017</td>
                                <td>2017-02-28</td>
                                <td>
                                    $12,450
                                </td>
                            </tr>
                            <tr>
                                <td>Vizeum Media Services (M) Sdn Bhd</td>
                                <td>Patek Philippe DPS Crown MY Dec 2017</td>
                                <td>2017-02-25</td>
                                <td>
                                    $8,889
                                </td>
                            </tr>
                            <tr>
                                <td>Vizeum Media Services (M) Sdn Bhd</td>
                                <td>Patek Philippe DPS Crown MY Sep 2017</td>
                                <td>2017-02-25</td>
                                <td>
                                    $8,889
                                </td>
                            </tr>
                            <tr>
                                <td>Vizeum Media Services (M) Sdn Bhd</td>
                                <td>Patek Philippe DPS Crown MY Jun 2017</td>
                                <td>2017-02-25</td>
                                <td>
                                    $8,889
                                </td>
                            </tr>
                            <tr>
                                <td>Vizeum Media Services (M) Sdn Bhd</td>
                                <td>Patek Philippe DPS Crown MY Mar 2017</td>
                                <td>2017-02-25</td>
                                <td>
                                    $8,889
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="Financial-report-table ng-scope">
                        <tbody>
                            <tr>
                                <th class="ng-binding">Teritory: Singapore</th>
                                <th class="ng-binding">Brand: Crown</th>
                                <th>
                                    Actual:
                                    <span>$505,736</span>
                                </th>
                                <th>
                                    Target:
                                    <span>$0</span>
                                </th>
                                <th>
                                    Variance:
                                    <span>$505,736</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="sales-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Subject</th>
                                <th>SO Issued Date</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Rado Digital Campaign Crown SG Dec 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Glashutte Original Online Editorial Crown Dec 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>
                                        $5,350
                                    </span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya - Singapore Main Store</td>
                                <td class="text-left ng-binding">Kinokuniya Main Store Crown SG Dec 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>
                                        $180
                                    </span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Bugis Junction</td>
                                <td class="text-left ng-binding">Kinokuniya Bugis Crown SG Dec 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>
                                        $90
                                    </span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Liang Court</td>
                                <td class="text-left ng-binding">Kinokuniya Liang Court Crown SG Dec 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>
                                        $120
                                    </span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Jurong Store</td>
                                <td class="text-left ng-binding">Kinokuniya Jurong Crown SG Dec 2017</td>
                                <td class="ng-binding"></td>
                                <td>
                                    <span>
                                        $60
                                    </span>
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A. (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Breguet Production Cost Crown Dec 2017 [B-18]</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $2,120
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Longines Ads Banner Campaign Crown SG Dec 2017</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $8,560
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Tissot Digital Online Crown SG Nov 2017 [B-18]</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Jaquet Droz FPFC Crown SG Mar 2018</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $13,910
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Franck Muller Pte Ltd</td>
                                <td class="text-left ng-binding">Franck Muller FPFC Crown SG Dec 2017</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $5,136
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Jaquet Droz FPFC Crown SG Mar 2018</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $10,700
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Longines Social Media Campaign Crown SG Nov 2017 [B-18]</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Richemont Luxury (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Montblanc Cover Buy Crown SG Dec 2017</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $26,750
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Jaquet Droz FPFC Crown SG Mar 2018</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $13,910
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">IPG Mediabrands (Singapore) Pte Ltd</td>
                                <td class="text-left ng-binding">Patek Philippe Online Editorial Crown SG Oct 2017</td>
                                <td class="ng-binding">2017-12-10</td>
                                <td>
                                    <span>
                                        $18,190
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A. (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Hamilton FPFC Crown SG Dec 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $5,350
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Omega Collaboration on Database For Event Crown SG 2017 [B-18]</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Jurong Store</td>
                                <td class="text-left ng-binding">Kinokuniya Jurong Crown SG Sep 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $60
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Liang Court</td>
                                <td class="text-left ng-binding">Kinokuniya Liang Court Crown SG Sep 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $120
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya - Singapore Main Store</td>
                                <td class="text-left ng-binding">Kinokuniya Main Store Crown SG Sep 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $180
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Bugis Junction</td>
                                <td class="text-left ng-binding">Kinokuniya Bugis Crown SG Sep 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $90
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Franck Muller Pte Ltd</td>
                                <td class="text-left ng-binding">Franck Muller FPFC Crown SG Sept 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $5,136
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Bell &amp; Ross (Singapore) Pte Ltd</td>
                                <td class="text-left ng-binding">Bell&amp;Ross FPFC Crown SG Sep Dec 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $8,560
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Oris Watches (M) Sdn Bhd</td>
                                <td class="text-left ng-binding">Oris Online Crown Watch Blog SG/MY 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $5,350
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya - Singapore Main Store</td>
                                <td class="text-left ng-binding">Kinokuniya Main Store Crown SG Jun 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $90
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya - Singapore Main Store</td>
                                <td class="text-left ng-binding">Kinokuniya Main Store Crown SG Jun 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $180
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Liang Court</td>
                                <td class="text-left ng-binding">Kinokuniya Liang Court Crown SG Jun 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $120
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Jurong Store</td>
                                <td class="text-left ng-binding">Kinokuniya Jurong Crown SG Jun 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $60
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Bugis Junction</td>
                                <td class="text-left ng-binding">Kinokuniya Bugis Crown SG Jun 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $90
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Richemont Luxury (S) Pte Ltd</td>
                                <td class="text-left ng-binding">A. Lange &amp; Sohne Event Sponsorship with CROWN 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $8,560
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Melchers Time Pte Ltd</td>
                                <td class="text-left ng-binding">Breitling FPFC Crown SG Jun Sep Dec 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $16,371
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Richemont Luxury (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Montblanc Special Package Print &amp; Digital CROWN Jun Sep Dec 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $29,960
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Franck Muller Pte Ltd</td>
                                <td class="text-left ng-binding">Franck Muller FPFC CROWN SG Jun 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $5,136
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Starcom Media Worldwide</td>
                                <td class="text-left ng-binding">A.Lange &amp; Sohne FC 8pp/2pp/3pp Editorial Crown SG Jun Sep Dec 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $46,010
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Longines Special Package CROWN SG Apr 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $7,490
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">IPG Mediabrands (Singapore) Pte Ltd</td>
                                <td class="text-left ng-binding">Patek Philippe Advertorial Crown SG May 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $11,824
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Bugis Junction</td>
                                <td class="text-left ng-binding">Kinokuniya Bugis Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $90
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Liang Court</td>
                                <td class="text-left ng-binding">Kinokuniya Liang Court Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $60
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya Ltd - Jurong Store</td>
                                <td class="text-left ng-binding">Kinokuniya Jurong Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $30
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Books Kinokuniya - Singapore Main Store</td>
                                <td class="text-left ng-binding">Kinokuniya Main Store Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $180
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Glashutte Original Editorial Sponsorship in Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Rado Adevrtorial Writeup Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-10-06</td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Mindshare Singapore (A Division of GroupM Singapore Pte Ltd)</td>
                                <td class="text-left ng-binding">Rolex OBC Crown SG Mar Jun Sep Dec 2017</td>
                                <td class="ng-binding">2016-10-01</td>
                                <td>
                                    <span>
                                        $83,820
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Mindshare Singapore (A Division of GroupM Singapore Pte Ltd)</td>
                                <td class="text-left ng-binding">Tudor FPFC Crown SG Mar Jun Sep Dec 2017</td>
                                <td class="ng-binding">2016-10-01</td>
                                <td>
                                    <span>
                                        $16,371
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A. (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Harry Winston IFCS Crown SG Mar Sep 2017</td>
                                <td class="ng-binding">2017-02-28</td>
                                <td>
                                    <span>
                                        $32,100
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Starcom Media Worldwide</td>
                                <td class="text-left ng-binding">Roger Dubuis 2pp Advertorial Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-02-28</td>
                                <td>
                                    <span>
                                        $10,700
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">DKSH South East Asia Pte Ltd</td>
                                <td class="text-left ng-binding">Maurice Lacroix FPFC Crown SG Mar Jun 2017</td>
                                <td class="ng-binding">2017-02-28</td>
                                <td>
                                    <span>
                                        $8,560
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Breguet Production Cost Crown SG Mar 2017</td>
                                <td class="ng-binding">2017-02-28</td>
                                <td>
                                    <span>
                                        $2,140
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Urwerk S.A</td>
                                <td class="text-left ng-binding">Urwerk S.A DPS Crown SG Mar Jun Sep Dec 2017</td>
                                <td class="ng-binding">2017-02-28</td>
                                <td>
                                    <span>
                                        $41,730
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Jaquet Droz FPFC Mar Sep 2017</td>
                                <td class="ng-binding">2017-02-28</td>
                                <td>
                                    <span>
                                        $10,700
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">Corum Watches Singapore Pte Ltd</td>
                                <td class="text-left ng-binding">Corum FPFC Crown SG Jun Sep Dec 2017</td>
                                <td class="ng-binding">2017-02-25</td>
                                <td>
                                    <span>
                                        $16,692
                                    </span>

                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="ng-binding">The Swatch Group S.E.A (S) Pte Ltd</td>
                                <td class="text-left ng-binding">Omega 6pp Editorial Sponsorship Crown SG Jun 2017</td>
                                <td class="ng-binding">2017-02-25</td>
                                <td>
                                    <span>
                                        $13,910
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="Financial-report-table ng-scope">
                        <tbody>
                            <tr>
                                <th class="ng-binding">Teritory: Singapore</th>
                                <th class="ng-binding">Brand: Billionaire</th>
                                <th>
                                    Actual:
                                    <span>
                                        $58,694
                                    </span>
                                </th>
                                <th>
                                    Target:
                                    <span class="ng-binding ng-scope">
                                        $0
                                    </span>
                                </th>
                                <th>
                                    Variance:
                                    <span>
                                        $58,694
                                    </span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="sales-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Subject</th>
                                <th>SO Issued Date</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ermenegildo Zegna Far-East Pte Ltd</td>
                                <td>Ermenegildo Zegna Online X'MAS Guide BLLNR Nov 2017</td>
                                <td>2017-12-10</td>
                                <td>
                                    $2,996
                                </td>
                            </tr>
                            <tr>
                                <td>Suit Supply (Houndstooth Pte Ltd)</td>
                                <td>Suit Supply Online X'MAS Guide BLLNR Nov 2017</td>
                                <td>2017-12-10</td>
                                <td>
                                    $2,996
                                </td>
                            </tr>
                            <tr>
                                <td>SWantedly,Inc. (Singapore)</td>
                                <td>Wantedly Online Editorial BLLNR Nov 2017</td>
                                <td>2017-12-10</td>
                                <td>
                                    $3,210
                                </td>
                            </tr>
                            <tr>
                                <td>Saybons French Food Factory Pte Ltd.</td>
                                <td>Saybons (Crossbridge event) Barter BLLNR Nov'17</td>
                                <td>2017-12-10</td>
                                <td>
                                    $0
                                </td>
                            </tr>
                            <tr>
                                <td>Korea Tourism Organization</td>
                                <td>    KNTO FPFC BLLNR SG NOV 2017</td>
                                <td>2017-12-06</td>
                                <td>
                                    $6,420
                                </td>
                            </tr>
                            <tr>
                                <td>Zouk Clarke Quay Pte Ltd</td>
                                <td>Capital Zouk Online Editorial BLLNR SG AUG 2017</td>
                                <td>2017-12-06</td>
                                <td>
                                    $6,420
                                </td>
                            </tr>
                            <tr>
                                <td>Beam Global Asia Pte Ltd</td>
                                <td>Auchentoshan Event Sponsorship July 2017</td>
                                <td>2017-12-06</td>
                                <td>
                                    $5,350
                                </td>
                            </tr>
                            <tr>
                                <td>Richemont Luxury (S) Pte Ltd</td>
                                <td>    BLLNR SG New York City Reimbursement</td>
                                <td>2017-12-06</td>
                                <td>
                                    $129
                                </td>
                            </tr>
                            <tr>
                                <td>Simpson Marine (SEA) Pte Limited</td>
                                <td>Simpson Marine Print & Digital BLLNR SG Jun Sep 2017</td>
                                <td>2017-12-06</td>
                                <td>
                                    $7,276
                                </td>
                            </tr>
                            <tr>
                                <td>White Spider Media  </td>
                                <td>    Crossbridge Capital</td>
                                <td>2017-12-06</td>
                                <td>
                                    $14,267
                                </td>
                            </tr>
                            <tr>
                                <td>Numero Uno Creative Pte Ltd - SuMisura  </td>
                                <td>SuMisura Advertorial Bllnr SG May Aug 2017</td>
                                <td>2017-04-07</td>
                                <td>
                                    $4,280
                                </td>
                            </tr>
                            <tr>
                                <td>Nike, Inc</td>
                                <td>    Nike Editorial Sponsorship BLLNR SG Feb, Mar 2017   </td>
                                <td>2017-02-28  </td>
                                <td>
                                    $7,490
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="Financial-report-table ng-scope">
                        <tbody>
                            <tr>
                                <th class="ng-binding">Teritory: International</th>
                                <th class="ng-binding">Brand: Billionaire</th>
                                <th>
                                    Actual:
                                    <span>
                                        $574,390
                                    </span>
                                </th>
                                <th>
                                    Target:
                                    <span class="ng-binding ng-scope">
                                        $0
                                    </span>
                                </th>
                                <th>
                                    Variance:
                                    <span>
                                        $574,390
                                    </span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="sales-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Subject</th>
                                <th>SO Issued Date</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The Baughn Media Group</td>
                                <td>Embraer December issue</td>
                                <td></td>
                                <td>
                                    $14,366
                                </td>
                            </tr>
                            <tr>
                                <td>Media Powers</td>
                                <td>Nicholas Air December Issue of Billionaire</td>
                                <td></td>
                                <td>
                                    $7,746
                                </td>
                            </tr>
                            <tr>
                                <td>Nobiskrug - Billionaire Magazine Campaign</td>
                                <td>December issue of Billionaire Magazine</td>
                                <td></td>
                                <td>
                                    $7,937
                                </td>
                            </tr>
                            <tr>
                                <td>Mediamix SA</td>
                                <td>    De Grisogono Billionaire December Issue</td>
                                <td></td>
                                <td>
                                    $20,400
                                </td>
                            </tr>
                            <tr>
                                <td>David Morris</td>
                                <td>    David Morris Billionaire December Issue</td>
                                <td></td>
                                <td>
                                    $8,000
                                </td>
                            </tr>
                            <tr>
                                <td>Fraser Worldide SAM</td>
                                <td>Fraser Yachts December Issue campaign</td>
                                <td></td>
                                <td>
                                    $5,000
                                </td>
                            </tr>
                            <tr>
                                <td>PVT Ron Wright</td>
                                <td>PVT Estate - 17 Mile Drive</td>
                                <td>2017-12-10  </td>
                                <td>
                                    $9,859
                                </td>
                            </tr>
                            <tr>
                                <td>Hennessy</td>
                                <td>Hennessy Billionaire + ShowCased Print & Online</td>
                                <td>2017-12-10  </td>
                                <td>
                                    $28,169
                                </td>
                            </tr>
                            <tr>
                                <td>Mindshare Worldwide Exhange</td>
                                <td>    Chanel Opening spread December issue of Billionaire Intl</td>
                                <td>2017-12-10  </td>
                                <td>
                                    $25,000
                                </td>
                            </tr>
                            <tr>
                                <td>Rolls Royce Motor Cars Limited</td>
                                <td>    Rolls Royce September campaign with Billionaire Magazine</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $10,000
                                </td>
                            </tr>
                            <tr>
                                <td>PHD Media UK</td>
                                <td>    Airbus ACJ September issue of Billionaire Magazine</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $14,000
                                </td>
                            </tr>
                            <tr>
                                <td>Media Powers</td>
                                <td> Nicholas Air - September Issue of Billionaire</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,746
                                </td>
                            </tr>
                            <tr>
                                <td>The Orange Square Company Ltd - Creed</td>
                                <td>Creed - September Issue of Billionaire Magazine</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $5,000
                                </td>
                            </tr>
                            <tr>
                                <td>Nobiskrug - Billionaire Magazine Campaign</td>
                                <td>    September Issue of Billionaire Magazine</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,937
                                </td>
                            </tr>
                            <tr>
                                <td>Mediamix SA</td>
                                <td> De Grisogono Billionaire Intl September issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $20,400
                                </td>
                            </tr>
                            <tr>
                                <td>Mindshare Worldwide Exhange</td>
                                <td> Chanel OBC Billionaire Magazine September Issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $13,000
                                </td>
                            </tr>
                            <tr>
                                <td>Signa Luxury Collection GMBH</td>
                                <td>    Signa - September issue of Billionaire Magazine</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $11,000
                                </td>
                            </tr>
                            <tr>
                                <td>David Morris</td>
                                <td>David Morris September issue of Billionaire</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $8,000
                                </td>
                            </tr>
                            <tr>
                                <td>Mediamix SA</td>
                                <td>De Grisogono Billionaire June issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $20,400
                                </td>
                            </tr>
                            <tr>
                                <td>PHD Media UK</td>
                                <td>    Airbus - June Billionaire magazine</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $14,000
                                </td>
                            </tr>
                            <tr>
                                <td>Lodha Developers UK Limited</td>
                                <td>Lodha - Billionaire June issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $9,500
                                </td>
                            </tr>
                            <tr>
                                <td>Orlebar Brown</td>
                                <td>Orlebar Brown June issue of Billionaire</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $6,000
                                </td>
                            </tr>
                            <tr>
                                <td>Jetfly Aviation</td>
                                <td>Jetfly Billionaire June issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,000
                                </td>
                            </tr>
                            <tr>
                                <td>Maison Perrier-Jouet</td>
                                <td>June Billionaire intl issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,937
                                </td>
                            </tr>
                            <tr>
                                <td>Dolce & Gabanna SRL</td>
                                <td>Billionaire June issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $9,000
                                </td>
                            </tr>
                            <tr>
                                <td>Media Powers</td>
                                <td>Billionaire June issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,746
                                </td>
                            </tr>
                            <tr>
                                <td>CRN S.p.A Ferretti Group</td>
                                <td>    Billionaire magazine June issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,000
                                </td>
                            </tr>
                            <tr>
                                <td>Mindshare Worldwide Exhange</td>
                                <td>Chanel March Billionaire Intl Campaign</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $30,240
                                </td>
                            </tr>
                            <tr>
                                <td>Adgenda Media Services T/S Space and Time Media Ltd</td>
                                <td>St James - Billionaire Intl issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $6,500
                                </td>
                            </tr>
                            <tr>
                                <td>Fraser Worldwide SAM</td>
                                <td>Fraser Yachts 2017 Billionaire campaign</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $32,000
                                </td>
                            </tr>
                            <tr>
                                <td>Gulfstream Aerospace</td>
                                <td>Gulfstream 2017 intl campaign</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $64,789
                                </td>
                            </tr>
                            <tr>
                                <td>Fly Victor</td>
                                <td>Victor Billionaire March Intl campaign</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $7,000
                                </td>
                            </tr>
                            <tr>
                                <td>Graff Diamonds</td>
                                <td>Billionaire March Intl campaign - Graff</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $6,000
                                </td>
                            </tr>
                            <tr>
                                <td>Mediamix SA</td>
                                <td>De Grisogono Billionaire Intl March issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $20,400
                                </td>
                            </tr>
                            <tr>
                                <td>MBMG Media</td>
                                <td>Hondajet March 2017 issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $9,859
                                </td>
                            </tr>
                            <tr>
                                <td>Manufacture Roger Dubuis</td>
                                <td>Roger Dubuis March issue</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $15,000
                                </td>
                            </tr>
                            <tr>
                                <td>David Morris</td>
                                <td>Billionaire March Intl campaign</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $8,000
                                </td>
                            </tr>
                            <tr>
                                <td>Pure Media/Princess Yachts</td>
                                <td>    Princess Yachts Billionaire Intl 2017 campaign</td>
                                <td>2017-10-06  </td>
                                <td>
                                    $34,290
                                </td>
                            </tr>
                            <tr>
                                <td>The Baughn Media Group</td>
                                <td>Embraer 2017 campaign in Billionaire</td>
                                <td>2017-10-25</td>
                                <td>
                                    $28,169
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="Financial-report-table ng-scope">
                        <tbody>
                            <tr>
                                <th class="ng-binding">Teritory: Vietnam</th>
                                <th class="ng-binding">Brand: Crown</th>
                                <th>
                                    Actual:
                                    <span>
                                        $86,710
                                    </span>
                                </th>
                                <th>
                                    Target:
                                    <span class="ng-binding ng-scope">
                                        $0
                                    </span>
                                </th>
                                <th>
                                    Variance:
                                    <span>
                                        $86,710
                                    </span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ng-scope">
                    <table class="sales-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Subject</th>
                                <th>SO Issued Date</th>
                                <th>Grand Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Supreme Media Co Ltd</td>
                                <td>Crown VN Editorial Fee Q2 2017</td>
                                <td>2017-04-07  </td>
                                <td>
                                    $2,817
                                </td>
                            </tr>
                            <tr>
                                <td>Supreme Media Co Ltd</td>
                                <td>Crown VN Editorial Fee Q2 2017</td>
                                <td>2017-04-07  </td>
                                <td>
                                    $2,817
                                </td>
                            </tr>
                            <tr>
                                <td>Supreme Media Co Ltd</td>
                                <td>    Rolex Cover Crown Vietnam Editorial Fee Q2 2017</td>
                                <td>2017-03-01 </td>
                                <td>
                                    $2,817
                                </td>
                            </tr>
                            <tr>
                                <td>Supreme Media Co Ltd</td>
                                <td>    Rolex Cover Crown Vietnam Editorial Fee Q2 2017</td>
                                <td>2017-03-01 </td>
                                <td>
                                    $2,817
                                </td>
                            </tr>
                            <tr>
                                <td>Mindshare Singapore (A Division of GroupM Singapore Pte Ltd)</td>
                                <td>Rolex OBC Crown VN Mar Jun Sep Dec 2017</td>
                                <td>2017-03-01 </td>
                                <td>
                                    $62,062
                                </td>
                            </tr>
                            <tr>
                                <td>Geneva Far East Pte Ltd</td>
                                <td>Crown Vietnam Mar 2017</td>
                                <td>2017-02-25  </td>
                                <td>
                                    $13,380
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table style="width:100%;">
                    <tbody>
                        <tr class="grand-total">
                            <td>Total Sales Orders</td>
                            <td></td>
                            <td>
                                <span>
                                    $1,548,796
                                </span>
                            </td>
                            <td>
                                <span>
                                    $0
                                </span>
                            </td>
                            <td>
                                <span>
                                    $1,548,796
                                </span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Weighted Pipeline -->
            <div id="weighted-pipeline" class="sales hide" style="margin-bottom: 20px;">
                <div class="sales-brand-tilte">
                    <h3>Weighted-Pipeline</h3>
                    <p>
                        <span>ABC Pte Ltd | </span>
                        <span class="ng-binding ng-scope">As at 09 Jan 2018</span>
                    </p>
                </div>
                <!-- weighted pipeline First table -->
                <div>
                    <table class="Financial-report-table">
                        <thead>
                            <tr>
                                <th>Territory: Malaysia</th>
                                <th>Brand: Crown</th>
                                <th>
                                    Total:
                                    <span>$0</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <table class="sales-report-table">
                        <thead>
                            <tr>
                                <th>Probability (%)</th>
                                <th>Potential Deal Name</th>
                                <th>Account Name</th>
                                <th>Closing Date</th>
                                <th>Stage</th>
                                <th>Account Owner</th>
                                <th>Amount</th>
                                <th>Expected Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>Sincere Watch Sdn Bhd</td>
                                <td>Sincere Watch Sdn Bhd</td>
                                <td>2016-07-21</td>
                                <td>Closed Lost</td>
                                <td>Crown SG</td>
                                <td>$8,389</td>
                                <td>$0 </td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>Zenith Watch Ad in Crown MY</td>
                                <td>LVMH Watch & Jewellery Malaysia Sdn Bhd</td>
                                <td>2016-03-31</td>
                                <td>Closed Lost</td>
                                <td>Crown SG</td>
                                <td>$6,711</td>
                                <td>$0 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- weighted pipeline second table -->
                <div>
                    <table class="Financial-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Territory: Singapore</th>
                                <th>Brand: Crown</th>
                                <th>
                                    Total:
                                    <span>$0</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <table class="sales-report-table ng-scope">
                        <thead>
                            <tr>
                                <th>Probability (%)</th>
                                <th>Potential Deal Name</th>
                                <th>Account Name</th>
                                <th>Closing Date</th>
                                <th>Stage</th>
                                <th>Account Owner</th>
                                <th>Amount</th>
                                <th>Expected Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>Franck Muller FPFC Crown SG Jun 2016</td>
                                <td>Franck Muller Pte Ltd</td>
                                <td>2016-04-29</td>
                                <td>Closed Lost</td>
                                <td>Crown SG</td>
                                <td>
                                    $4,800
                                </td>
                                <td>
                                    $0
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- weighted pipeline third table -->
                <div>
                    <table class="Financial-report-table">
                        <thead>
                            <tr>
                                <th>Territory: International</th>
                                <th>Brand: Crown</th>
                                <th>
                                    Total:
                                    <span>$0</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <table class="sales-report-table">
                        <thead>
                            <tr>
                                <th>Probability (%)</th>
                                <th>Potential Deal Name</th>
                                <th>Account Name</th>
                                <th>Closing Date</th>
                                <th>Stage</th>
                                <th>Account Owner</th>
                                <th>Amount</th>
                                <th>Expected Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>Bombardier Aerospace-</td>
                                <td>Bombardier Aerospace</td>
                                <td>2016-03-18</td>
                                <td>Closed Lost</td>
                                <td>Chris Wilson</td>
                                <td>$10,000 </td>
                                <td>$0 </td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>FP X 3 Jun, Sep, Dec 16</td>
                                <td>Feadship Yachts</td>
                                <td>2016-03-25</td>
                                <td>Closed Lost</td>
                                <td>Chris Wilson</td>
                                <td>$24,900</td>
                                <td>$0 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table style="width:100%;">
                    <tbody>
                        <tr class="grand-total">
                            <td>Total Weighted Pipeline</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$0</td>
                    </tbody>
                </table>
            </div>
            <!-- Sales Orders  Weighted Pipeline vs Target -->
            <div id="sales-weighted" class="sales hide" style="margin-bottom: 20px;">
                <div class="sales-brand-tilte">
                    <h3>Sales Orders + Weighted Pipeline vs Target</h3>
                    <p>
                        <span>ABC Pte Ltd | </span>
                        <span class="ng-binding ng-scope">As at 09 Jan 2018</span>
                    </p>
                </div>
                <table class="trend-monthly-table">
                    <thead>
                        <tr>
                            <th>Teritory</th>
                            <th>Brand</th>
                            <th>Actual</th>
                            <th>Target</th>
                            <th>Variance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Malaysia</td>
                            <td>Crown</td>
                            <td>$323,266</td>
                            <td>$0</td>
                            <td>$323,266</td>
                        </tr>
                        <tr>
                            <td>Singapore</td>
                            <td>Crown</td>
                            <td>$505,736</td>
                            <td>$0</td>
                            <td>$505,736</td>
                        </tr>
                        <tr>
                            <td>Singapore</td>
                            <td>Billionaire</td>
                            <td>$58,694</td>
                            <td>$0</td>
                            <td>$58,694</td>
                        </tr>
                        <tr>
                            <td>International</td>
                            <td>Billionaire</td>
                            <td>$574,390</td>
                            <td>$0</td>
                            <td>$574,390</td>
                        </tr>
                        <tr>
                            <td>Vietnam</td>
                            <td>Crown</td>
                            <td>$86,710</td>
                            <td>$0</td>
                            <td>$86,710</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="grand-total">
                            <td>Total Sales Orders + Weighted Pipeline vs. Target</td>
                            <td></td>
                            <td>$1,548,796</td>
                            <td>$0</td>
                            <td>$1,548,796</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2017</p>
        </div>
    </footer>
</div>
