<head>
    <title>PIKOHANA | REPORT SETTINGS</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.pikohana.com/"><img src="assets/images/pikohana-logo.png" alt="Pikohana logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="myapps"><img src="assets/images/my-app-01-01.svg" width="25px" class="app-icon">MY APPS</a></li>
                <li class="dropdown" uib-dropdown>
                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-class="{'active': activeHeaderMenu === 'settings'}">
                        <img src="assets/images/setting-01.svg" width="25px" class="app-icon"> SETTINGS<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li><a ui-sref="system/report">System Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="profilesettings">Profile Setting</a></li>
                    </ul>
                </li>
                <li><a ui-sref="manageusers/add"><img src="assets/images/MANAGE-02-01-01.svg" width="25px" class="app-icon"> MANAGE USERS</a></li>
                <li><a ui-sref="profilesettings"><img src="assets/images/user-login-01.svg" width="25px" class="app-icon"> Demo user - <span> ABC Pte Ltd</span></a></li>
                <li><a ui-sref="login()"><img src="assets/images/logout-01.svg" width="25px" class="app-icon">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="head-button-section">
        <ul class="nav nav-tabs">
            <li class=''><a ui-sref="dashboard"><img src="assets/images/dashboard-01.svg" width="27px" class="app-icon">Dashboard</a></li>
            <li class=''><a ui-sref="flashreport"><img src="assets/images/sms-01.svg" width="25px" class="app-icon">Flash Report</a></li>
            <li class=''><a ui-sref="salesreport"><img src="assets/images/sales-report-01.svg" width="25px" class="app-icon">Sales Report</a></li>
            <li class=''><a ui-sref="plreport"><img src="assets/images/financial-01.svg" width="25px" class="app-icon">Financial Report</a></li>
            <li class=''><a ui-sref="kpi"><img src="assets/images/complaince-01.svg" width="25px" class="app-icon">Compliance Report</a></li>
        </ul>
    </div>
<div id="system-config">
<h2>Report Settings</h2>
<div class="system-config-head">
<table id="report-settings">
<tbody>
<tr class="report-details-settings">
<th class="ng-binding">Flash Report</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td colspan="4">
<form name="addReportForm" accept-charset="UTF-8" novalidate="" class="ng-pristine ng-valid ng-valid-required">
<table style="width:100%;">
<tbody>
<tr>
<td>
<img class="app-icon" width="50px" src="assets/images/xero.png" >&nbsp;Xero          
</td>
<td>accounting</td>
<td>
<div style="float:right">
<i class="fa fa-times clickable report-remove-icon" title="Delete report" style="margin-top: 20px;"></i>
      </div>
      <select class="form-control">
        <option label="Select Application">Select Application</option>
        <option label="Xero">Xero</option>
      </select>
<div class="button-section">
<button class="save-report">Save</button>
<button class="Cancel-report">Cancel</button>
</div>
</td>
</tr>
</tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>
<table id="report-settings">
<tbody>
<tr class="report-details-settings">
<th class="ng-binding">Sales Report</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td colspan="4">
<form name="addReportForm" accept-charset="UTF-8" novalidate="" class="ng-pristine ng-valid ng-valid-required">
<table style="width:100%;">
<tbody>
<tr>
<td>
<img class="app-icon" width="50px" src="assets/images/xero.png" >&nbsp;Xero          
</td>
<td>accounting</td>
<td>
<div style="float:right">
<i class="fa fa-times clickable report-remove-icon" title="Delete report" style="margin-top: 20px;"></i>
      </div>
      <select class="form-control">
        <option label="Select Application">Select Application</option>
        <option label="ZOHO">ZOHO</option>
      </select>
<div class="button-section">
<button class="save-report">Save</button>
<button class="Cancel-report">Cancel</button>
</div>
</td>
</tr>
</tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>
<table id="report-settings">
<tbody>
<tr class="report-details-settings">
<th class="ng-binding">
P & L Report</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td colspan="4">
<form name="addReportForm" accept-charset="UTF-8" novalidate="" class="ng-pristine ng-valid ng-valid-required">
<table style="width:100%;">
<tbody>
<tr>
<td>
<img class="app-icon" width="50px" src="assets/images/xero.png" >&nbsp;Xero          
</td>
<td>accounting</td>
<td>
<div style="float:right">
<i class="fa fa-times clickable report-remove-icon" title="Delete report" style="margin-top: 20px;"></i>
      </div>
      <select class="form-control">
        <option label="Select Application">Select Application</option>
        <option label="ZOHO">ZOHO</option>
      </select>
<div class="button-section">
<button class="save-report">Save</button>
<button class="Cancel-report">Cancel</button>
</div>
</td>
</tr>
</tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>
<table id="report-settings">
<tbody>
<tr class="report-details-settings">
<th class="ng-binding">
KPI</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td colspan="4">
<form name="addReportForm" accept-charset="UTF-8" novalidate="" class="ng-pristine ng-valid ng-valid-required">
<table style="width:100%;">
<tbody>
<tr>
<td>
<img class="app-icon" width="50px" src="assets/images/zoho-1.png" >&nbsp;Zoho          
</td>
<td>CRM</td>
<td>  66c01b103a6cbfe7402d330fbd63c69c</td>
<td>
Zoho enabled
</td>
</tr>
</tbody>
</table>
</form>
</td>
</tr>
</tbody>
</table>
</div>
<!-- <table  id="report-settings">
<tr>
<th>Flash Report</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td>

<tr>
<td>
<img width="50px" ng-src="images/xero.png" src="images/xero.png">&nbsp;Xero
</td>
<td>accounting</td>
<td>
<i></i>
Select ApplicationXero
Please select application.
Save
Cancel
</td>
</tr>

</td>
</tr>

<tr>
<th>Sales Report</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td>

<tr>
<td>
<img width="50px" ng-src="images/xero.png" src="images/xero.png">&nbsp;Xero
</td>
<td>accounting</td>
<td>
Select ApplicationXero
Please select application.
Save
Cancel
</td>
</tr>

<tr>
<td>
<div>
<img width="80px" ng-src="images/zoho-1.png" src="images/zoho-1.png">&nbsp;
<span style="">Zoho</span>
</div>
</td>
<td>crm</td>
<td>
<i></i>
Select ApplicationZOHO
Please select application.
Save
Cancel
</td>
</tr>

</td>
</tr>

<tr>
<th>P &amp; L Report</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td>

<tr>
<td>
<img width="50px" src="assets/images/xero.png">
<span style="">Zoho</span>
</td>
<td>accounting</td>
<td>
<i></i>
<select class="form-control">
<option>Select ApplicationXero</option>
<option>Please select application.</option>
</select>
<div class="button-section">
<button class="save-report">Save</button>
<button class="Cancel-report">Cancel</button>
</div>

</td>
</tr>

</td>
</tr>


<tr>
<th>KPI</th>
<th>Report Application Type</th>
<th>Report Auth Key</th>
<th>Source</th>
</tr>
<tr>
<td>

<tr>
<td>
<img width="80px" ng-src="images/zoho-1.png" src="images/zoho-1.png">&nbsp;Zoho
</td>
<td>crm</td>
<td>66c01b103a6cbfe7402d330fbd63c69c</td>
<td>
Zoho enabled
</td>
</tr>

</td>
</tr>
</table> -->

</div>
    <footer class="footer">
        <div class="text-muted">
            <p>Terms &amp; Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</p>
            <p>&copy; Copyright 2018</p>
        </div>
    </footer>
</div>

<!-- Start modal popup-->
<script type="text/ng-template" id="myModalContent.html">
    <!-- Modal content-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <span ng-bind-html="modalContent"></span>
        <!--{{modalContent}}-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Ok, I Understand</button>
    </div>
</script>
<!-- End modal popup-->